<div id="landing-page" class="flex flex-col h-full">
    <div id="app-header" class="h-16 w-full flex items-center justify-between px-4 gap-6 bg-blue-500">
        <div class="text-2xl text-white">Issue Tracker</div>
        
        <div class="flex gap-3">
            <div>
                <input type="text" class="p-2 border h-9 w-96 rounded-md" placeholder="Search...">
            </div>
            <div>
                <select (change)="onSelect(selectControl.value)" #selectControl class="p-2 border rounded-md h-9 w-36">
                    <option>Select</option>
                    <option *ngFor="let option of selectOptions" [value]="option.id">{{ option.name }}</option>
                </select>
            </div>
        </div>
        <div>
            <button mat-raised-button>Log out</button>
        </div>
    </div>

    <div id="nav-content" class="flex h-full w-full">
        <div id="app-nav" class="flex flex-col flex-none w-40 bg-blue-100">
            <div class="nav" *ngFor="let nav of navigations">{{ nav }}</div>
        </div>
        <div class="flex-auto flex flex-col p-4">
            <div id="app-content" class="rounded-md bg-gray-50">
               <div class="font-bold p-4 border-b">Issue name</div>
               <div class="p-4 border-b last:border-0 cursor-pointer hover:bg-violet-100" *ngFor="let issue of issues">{{ issue.title }}</div>
            </div>
        </div>
    </div>
    
</div>