#landing-page {
    #nav-content {
        #app-nav {
            .nav {
                padding: 8px;
                border-bottom: 1px solid #ddd;
                cursor: pointer;
                &.active-link, &:hover {
                    background: blue;
                    color: white;
                }   
            }
        }   
    }
}