<h1 mat-dialog-title>Create Sprint</h1>
<div mat-dialog-content class="h-52">
    <form [formGroup]="sprintForm" class="flex flex-col">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput [formControlName]="'title'">
        </mat-form-field>
        <mat-form-field>
            <mat-label> Start Time </mat-label>
            <input matInput [formControlName]="'startTime'">
        </mat-form-field>
        <mat-form-field>
            <mat-label> End Time </mat-label>
            <input matInput [formControlName]="'endTime'">
        </mat-form-field>
        <div>
            <mat-checkbox [formControlName]="'active'">Active Sprint</mat-checkbox>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button (click)="createSprint()">Create</button>
</div>