<h1 mat-dialog-title>Create Issue</h1>
<div mat-dialog-content class="h-52">
    <form [formGroup]="issueForm" class="flex flex-col">
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput [formControlName]="'title'">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Sprint</mat-label>
            <mat-select [formControlName]="'sprint'">
              <mat-option *ngFor="let sprint of sprints" [value]="sprint.id">
                {{sprint.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button (click)="createissue()">Create Issue</button>
</div>